In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv("Admission_Predict_Ver1.1.csv")

In [4]:
df.sample(2)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
166,167,302,102,3,3.5,5.0,8.33,0,0.65
53,54,324,112,4,4.0,2.5,8.10,1,0.72

In [7]:
df.isnull().sum().sum()

0

In [8]:
df.duplicated().sum()

0

In [11]:
X = df.drop(['Serial No.','Chance of Admit '],axis=1)
y = df['Chance of Admit ']

In [12]:
X.sample(2)

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
346        304           97                  2  1.5   2.0  7.64         0
285        331          116                  5  4.0   4.0  9.26         1

In [13]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [16]:
X_train.sample(3)

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
77         301           99                  2  3.0   2.0  8.22         0
201        315          110                  2  3.5   3.0  8.46         1
258        326          102                  4  5.0   5.0  8.76         1

In [18]:
sc=MinMaxScaler()
X_train_sc = pd.DataFrame(sc.fit_transform(X_train))

In [20]:
model = LinearRegression()
model.fit(X_train_sc,y_train)
X_test_sc = sc.transform(X_test)
y_pred = model.predict(X_test_sc)

In [21]:
y_pred

array([0.6606252 , 0.83467888, 0.77803235, 0.88054515, 0.60126564,
       0.64356569, 0.53081352, 0.69581338, 0.52494695, 0.74711904,
       0.61091713, 0.70857888, 0.62202889, 0.75371215, 0.88455163,
       0.50857541, 0.82439288, 0.64614159, 0.7656139 , 0.53346257,
       0.51561087, 0.72319839, 0.52118775, 0.92174074, 0.8332172 ,
       0.72651112, 0.69865521, 0.50871376, 0.58246086, 0.59618334,
       0.72743587, 0.48564416, 0.65331018, 0.8414552 , 0.56459962,
       0.59803765, 0.84391714, 0.86746389, 0.59031772, 0.65993134,
       0.67020768, 0.90220251, 0.86565391, 0.72223457, 0.77319666,
       0.8068659 , 0.97014963, 0.85112801, 0.6429692 , 0.65569499,
       0.63193629, 0.6367591 , 0.61353916, 0.80117655, 0.6942999 ,
       0.85574591, 0.52489959, 0.86276624, 0.60022041, 0.63653589,
       0.49798224, 0.90699384, 0.61965598, 0.94547309, 0.7196482 ,
       0.61602013, 0.73614278, 0.8434937 , 0.519103  , 0.77895777,
       0.8947432 , 0.78381774, 0.69730948, 0.63992055, 0.78922356,
       0.916447  , 0.7522116 , 0.72918547, 0.55987804, 0.66139049,
       0.59504557, 0.8592551 , 0.55418168, 0.67073234, 0.76931897,
       0.55440527, 0.81743067, 0.61916368, 0.4583537 , 0.66019097,
       0.71853303, 0.78402829, 0.65818434, 0.70588416, 0.62676455,
       0.94214646, 0.54543   , 0.53636442, 0.6003905 , 0.6153504 ])

In [22]:
result=pd.DataFrame(index = X_test.index)
result['Actual'] = y_test
result['Prediction'] = y_pred

In [23]:
result

     Actual  Prediction
90     0.64    0.660625
254    0.85    0.834679
283    0.80    0.778032
445    0.91    0.880545
461    0.68    0.601266
..      ...         ...
372    0.95    0.942146
56     0.64    0.545430
440    0.53    0.536364
60     0.48    0.600390
208    0.64    0.615350

[100 rows x 2 columns]

In [24]:
model.intercept_

0.3405660378881121

In [25]:
model.coef_

array([0.10707071, 0.07757083, 0.02222771, 0.00204125, 0.08165354,
       0.35896841, 0.02412567])

In [26]:
from sklearn.metrics import r2_score

In [27]:
print(f"r2 score: {r2_score(y_test,y_pred)}")

r2 score: 0.7664048993199384

In [30]:
from sklearn.metrics import mean_squared_error, mean_absolute_error,explained_variance_score
print(f"r2 score: {r2_score(y_test,y_pred)}")
print(f"MSE: {mean_squared_error(y_test,y_pred)}")
print(f"MAE: {mean_absolute_error(y_test,y_pred)}")
print(f"EVS: {explained_variance_score(y_test,y_pred)}")

r2 score: 0.7664048993199384
MSE: 0.004079680034602105
MAE: 0.04825389374865475
EVS: 0.7674057830249001

EVS is same as r2 score